

a {
    color : inherit;
    text-decoration : none;
  }


table {
    padding-bottom : 0px;
    padding-left : 0px;
    padding-right : 0px;
    padding-top : 0px;
    width : 100%;
  }


.tituloUltimas {
    border-bottom-color : #da251d;
    border-bottom-style : solid;
    border-bottom-width : 3px;
    font-size : medium;
    font-weight : bolder;
    text-align : left;
    color: #da251d;
  }


td.menuabajoderecha {
    background-image : url('../img/menuabajoderecha.png');
    background-position : top left;
    background-repeat : no-repeat;
    width: 14px;
    height: 30px;
  }


td.menuabajoizquierda {
    background-image : url('../img/menuabajoizquierda.png');
    background-position : right;
    background-repeat : no-repeat;
    width : 14px;
    height: 30px;
  }


.menuabajocentro {
    background-color : #da251d;
    color : white;
    font-family : ;
    font-weight : bolder;
    height : 14px;
    text-align : center;
    text-transform : uppercase;
    word-spacing : 2px;
  }


a.menuabajocentro {
    background-color : #da251d;
    color : white;
    font-family : ;
    font-size: medium;
    font-weight : bolder;
    height : 14px;
    text-align : center;
    text-transform : uppercase;
    word-spacing : 2px;
  }


.textosabajo {
    font-size: x-small;
    width: 1px;
  }


.bordehorizontal {
    border-top-color : #da251d;
    border-top-style : solid;
    border-top-width : 2px;
  }


.bordeverticalizq {
    border-left-color: #da251d;
    border-left-style: solid;
    border-left-width: 2px;
    width: 2px;
  }


.bordeverticalder {
    border-right-color: #da251d;
    border-right-style: solid;
    border-right-width: 2px;
    width: 2px;
  }


.bordeverticalderlleno {
    border-right-color: #da251d;
    border-right-style: solid;
    border-right-width: 2px;
    background-color: #da251d;
  }


.fecha {
    border-top-color : #da251d;
    border-top-style : solid;
    border-top-width : 2px;
    color : gray;
    padding-right : 4px;
    padding-top : 4px;
    text-align : right;
    text-transform : capitalize;
    vertical-align : top;
  }


.menusegundo {
    font-size:large;
    text-align: center;
    text-transform: uppercase;
    color: #0000CC;
  }


td.bordesupder {
    background-image : url( ../img/bordesupder.png );
    background-position : top left;
    background-repeat : no-repeat;
    width : 17px;
  }


td.bordesupizq {
    background-image : url( ../img/bordesupizq.png );
    background-position : top left;
    background-repeat : no-repeat;
    font-size : 12px;
    width : 17px;
  }


td.bordeinfder {
    background-image : url( ../img/bordeinfder.png );
    background-position : left bottom;
    background-repeat : no-repeat;
    font-size : 12px;
    margin-bottom : 0px;
    margin-left : 0px;
    margin-right : 0px;
    margin-top : 0px;
    width : 17px;
  }


td.bordeinfizq {
    background-image : url( ../img/bordeinfizq.png );
    background-position : left bottom;
    background-repeat : no-repeat;
    font-size: 12px;
    width : 17px;
    height: 19px;
  }


td.bordehorizontalinf {
    border-bottom-color: #da251d;
    border-bottom-style: solid;
    border-bottom-width: 2px;
    font-size: medium;
  }


.bordevertical {
    color: #da251d;
    font-weight: bolder;
  }


.tituloSeccion {
    background-color : #da251d;
    color : #ffffff;
    font-size : large;
    font-weight : bolder;
    height : 50px;
    text-align : right;
    text-transform : uppercase;
    vertical-align : middle;
    width : 80%;
  }


.bordetitulo {
    background-image: url( ../img/bordetitulo.png );
    background-repeat: no-repeat;
    width: 20px;
  }


.tituloForm {
    border-bottom-color : #000000;
    border-bottom-style : solid;
    border-bottom-width : 2px;
    font-size:medium font-weight : bolder;
  }


input.boton {
    background-color : #da251d;
    border-bottom-color : #da251d;
    border-bottom-style : groove;
    border-bottom-width : 1px;
    border-left-color : #da251d;
    border-left-style : groove;
    border-left-width : 1px;
    border-right-color : #da251d;
    border-right-style : groove;
    border-right-width : 1px;
    border-top-color : #da251d;
    border-top-style : groove;
    border-top-width : 1px;
    color : white;
    font-size : medium;
    font-weight : bolder;
    text-align : center;
    text-transform : uppercase;
    vertical-align : middle;
  }


.flash {
    background-color : #f7fffd;
    border-bottom-color : #cd2326;
    border-bottom-style : double;
    border-bottom-width : 1px;
    border-left-color : #cd2326;
    border-left-style : double;
    border-left-width : 1px;
    border-right-color : #cd2326;
    border-right-style : double;
    border-right-width : 1px;
    border-top-color : #cd2326;
    border-top-style : double;
    border-top-width : 1px;
    font-size : small;
    font-weight : bolder;
    margin-top : 5px;
    text-align : center;
    text-transform : uppercase;
  }


* {
    font-family : Arial ;
    font-size : small;
  }


label {
    font-weight: bolder;
  }


select {
    border-bottom-color : #cd2326;
    border-bottom-style : solid;
    border-bottom-width : 2px;
    border-left-color : #cd2326;
    border-left-style : solid;
    border-left-width : 2px;
    border-right-color : #cd2326;
    border-right-style : solid;
    border-right-width : 2px;
    border-top-color : #cd2326;
    border-top-style : solid;
    border-top-width : 2px;
    font-size : medium;
  }


radio {
    border-bottom-color : #de2526;
    border-left-color : #de2526;
    border-right-color : #de2526;
    border-top-color : #de2526;
  }


th.tablaBusqueda {
    background-color : #DA251D;
    border-bottom-color : #DA251D;
    border-bottom-style : solid;
    border-bottom-width : 2px;
    border-left-color : #DA251D;
    border-left-style : solid;
    border-left-width : 2px;
    border-right-color : #DA251D;
    border-right-style : solid;
    border-right-width : 2px;
    border-top-color : #DA251D;
    border-top-style : solid;
    border-top-width : 2px;
    color : #ffffff;
    text-align : left;
  }


table.tablaBusqueda {
    border-bottom-width : 0px;
    border-left-width : 0px;
    border-right-width : 0px;
    border-top-width : 0px;
  }


td.tablaBusqueda1 {
    padding-bottom : 1px;
    padding-left : 1px;
    padding-right : 1px;
    padding-top : 1px;
  }


td.tablaBusqueda2 {
    background-color : #f4f4f4;
  }


.tituloModulo {
    border-bottom-color: #da251d;
    border-bottom-style: solid;
    border-bottom-width: 3px;
    font-size: medium;
    font-weight: bolder;
    text-align: left;
    color: #da251d;
  }

