body {
	background-image: url( 'imagenes/borde-superior.png' );
	background-repeat: repeat-x;
	background-attachment: fixed;
}

.logo {
    float: left;
    left: -9px;
    position: relative;
    top: -4px;
    margin-right: 8px;
}

.slogan {
	text-align:  center;
	font-family: 'Architects Daughter', arial, serif; 
	color: blue;
	font-size: 22px;
}

.gestotux {
	margin-top: 20px;
	font-size: 45px;
	font-weight: bolder;
	color: blue;
	font-family: 'Slackey', Arial;
	text-align: center;
}

.titulo {
    color: white;
    font-size: 23px;
    font-weight: bolder;
    margin-top: 2px;
}

.subtitulo {
	 font-weight: bold;
    margin-left: 240px;
    margin-top: 12px;
}


h1 {
	text-align:center;
	font-size: 30px;
	text-decoration: underline;
	color: blue;
}

h3 {
	text-align: center;
	font-size: 18px;
	color: cyan;
}

p {
	text-align: left;
	text-decoration: none;
	font-size:12px;
}

ul,li {
	font-size: 11px;
	margin-left: 4px;
}