general {
}

slogan {
}

titulo {
}

h1 {
	text-align:center;
	font-size: 30px;
	text-decoration: underline;
	color: blue;
}

h3 {
	text-align: center;
	font-size: 18px;
	color: cyan;
}

p {
	text-align: left;
	text-decoration: none;
	font-size:12px;
}

ul,li {
	font-size: 11px;
	margin-left: 4px;
}