body {
    background-image : url('/albrecht/img/fondo.png');
    background-repeat : repeat;
    font-family : Arial, Currier, 'Luxi Sans';
    margin-bottom : 0px;
    margin-left : 0px;
    margin-right : 0px;
    margin-top : 0px;
    padding-bottom : 0px;
    padding-left : 0px;
    padding-right : 0px;
    padding-top : 0px;
  }


td {
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
  }


img {
    border: 0px;
  }


a {
    text-decoration: none;
  }


table {
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
    width: 100%;
  }


td.logo {
    height: 82px;
    width: 300px;
    padding: 0px 0px 0px 0px;
    border: 0px;
    margin: 0px 0px 0px 0px;
  }


table.cabecera {
    background-image: url('/albrecht/img/fondo_cabecera.png');
    background-repeat: repeat-x;
    background-position: top left;
    background-color: white;
    width: 100%;
  }


td.email {
    text-align: right;
    vertical-align: top;
    padding-right: 14px;
    width: 200px;
  }


td.tel {
    text-align: right;
    vertical-align: bottom;
    padding-right: 14px;
    width: 200px;
  }


td.fecha1 {
    font-size : large;
    font-weight : bolder;
    text-align : center;
    vertical-align : center;
  }


td.fecha2 {
    text-align: center;
    vertical-align: center;
  }



td.barra_abajo {
    font-family: Arial;
    font-size: small;
    vertical-align: center;
    color: white;
    font-weight: bold;
    padding-right: 3px;
    background-color: #DA251C;
  }


td.martillero {
    font-family: Arial;
    text-align: right;
    vertical-align: center;
    color: white;
    font-weight: bold;
    padding-right: 3px;
    background-image: url('/albrecht/img/fondo_arriba.png');
    background-repeat:repeat-x;
    background-position: bottom left;
  }

/* Menu de arriba */
a.link_menu_arriba {
    color: white;
    text-decoration: none;
    font-weight: bold;
    text-transform: uppercase;
  }


td.menu_arriba {
    font-family: Arial;
    text-align: center;
    vertical-align: center;
    color: white;
    font-weight: bold;
    padding-right: 3px;
    background-color: #DA251C;
    padding: 2px 2px 2px 2px;
  }


td.contenido {
    background-color: white;
    background-image: url('/albrecht/img/fondo_contenido.png');
    background-repeat: repeat-x;
    background-position: top left;
  }


input.boton {
    background-color : #da251d;
    border-bottom-color : #da251d;
    border-bottom-style : groove;
    border-bottom-width : 1px;
    border-left-color : #da251d;
    border-left-style : groove;
    border-left-width : 1px;
    border-right-color : #da251d;
    border-right-style : groove;
    border-right-width : 1px;
    border-top-color : #da251d;
    border-top-style : groove;
    border-top-width : 1px;
    color : white;
    font-size : small;
    font-weight : bolder;
    text-align : center;
    text-transform : uppercase;
    vertical-align : middle;
  }


select {
    border-bottom-color : #cd2326;
    border-bottom-style : solid;
    border-bottom-width : 2px;
    border-left-color : #cd2326;
    border-left-style : solid;
    border-left-width : 2px;
    border-right-color : #cd2326;
    border-right-style : solid;
    border-right-width : 2px;
    border-top-color : #cd2326;
    border-top-style : solid;
    border-top-width : 2px;
    font-size : medium;
  }


radio {
    border-bottom-color : #cd2326;
    border-bottom-style : solid;
    border-bottom-width : 2px;
    border-left-color : #cd2326;
    border-left-style : solid;
    border-left-width : 2px;
    border-right-color : #cd2326;
    border-right-style : solid;
    border-right-width : 2px;
    border-top-color : #cd2326;
    border-top-style : solid;
    border-top-width : 2px;
  }


input {
    border-bottom-color : #cd2326;
    border-bottom-style : solid;
    border-bottom-width : 2px;
    border-left-color : #cd2326;
    border-left-style : solid;
    border-left-width : 2px;
    border-right-color : #cd2326;
    border-right-style : solid;
    border-right-width : 2px;
    border-top-color : #cd2326;
    border-top-style : solid;
    border-top-width : 2px;
    font-size : small;
    font-weight : bolder;
    text-align : center;
    text-transform : uppercase;
    vertical-align : middle;
  }


textarea {
    border-bottom-color : #cd2326;
    border-bottom-style : solid;
    border-bottom-width : 2px;
    border-left-color : #cd2326;
    border-left-style : solid;
    border-left-width : 2px;
    border-right-color : #cd2326;
    border-right-style : solid;
    border-right-width : 2px;
    border-top-color : #cd2326;
    border-top-style : solid;
    border-top-width : 2px;
  }


label {
    font-weight: bold;
    font-size: small;
  }

/* Bordes con sombra */
td.borde_derecho_medio {
    width: 13px;
    background-image: url('/albrecht/img/borde_derecho_medio.png');
    background-repeat: repeat-y;
    margin-left: 3px;
    background-position: top left;
  }


td.borde_derecho_abajo {
    background-image: url('/albrecht/img/borde_derecho_abajo.png');
    background-repeat: no-repeat;
    background-position: top left;
    margin-left: 3px;
  }


td.borde_derecho_arriba {
    background-image: url('/albrecht/img/borde_derecho_arriba.png');
    background-repeat: no-repeat;
    background-position: bottom left;
    margin-left: 3px;
  }


td.borde_izquierdo_medio {
    width: 13px;
    margin-right: 3px;
    background-image: url('/albrecht/img/borde_izquierdo_medio.png');
    background-repeat: repeat-y;
    background-position: top right;
  }


td.borde_izquierdo_abajo {
    background-image: url('/albrecht/img/borde_izquierdo_abajo.png');
    background-repeat: no-repeat;
    background-position: top right;
    margin-right: 3px;
  }


td.borde_izquierdo_arriba {
    background-image: url('/albrecht/img/borde_izquierdo_arriba.png');
    background-repeat: no-repeat;
    background-position: bottom right;
    margin-right: 3px;
  }


td.borde_abajo {
    background-image: url('/albrecht/img/fondo_abajo.png');
    background-repeat:repeat-x;
    background-position: top left;
  }

/* relleno de portada */

.relleno_rojo {
    background-color : #DA251C;
    border-bottom-color : #DA251C;
    border-bottom-style : solid;
    border-bottom-width : 2px;
    border-left-color : #DA251C;
    border-left-style : solid;
    border-left-width : 2px;
    border-right-color : #DA251C;
    border-right-style : solid;
    border-right-width : 2px;
    border-top-color : #DA251C;
    border-top-style : solid;
    border-top-width : 2px;
    margin-bottom : 0px;
    margin-left : 0px;
    margin-right : 0px;
    margin-top : 0px;
  }

.antirelleno {
 background-color: white;
}


td.titulo_home {
    width: 100%;
    text-align: left;
    border-top-color: #DA251C;
    border-top-style: solid;
    border-top-width: 2px;
    vertical-align: top;
  }


td.imagen_oferta {
    border-bottom-color : #DA251C;
    border-bottom-style : solid;
    border-bottom-width : 2px;
    border-left-color : #DA251C;
    border-left-style : solid;
    border-left-width : 2px;
    border-right-color : #DA251C;
    border-right-style : solid;
    border-right-width : 2px;
    border-top-color : #DA251C;
    border-top-style : solid;
    border-top-width : 2px;
    margin-bottom : 0px;
    margin-left : 0px;
    margin-right : 0px;
    margin-top : 0px;
   text-align: center;
   vertical-align: center;
  }

td.texto_oferta {
 font-size: x-small;
 font-weight: bold;
}

a.link_oferta {
 color: black;
 text-decoration: underline;
 font-size: x-small;
}

.tituloForm {
    font-size: small;
    font-weight: bolder;
  }